@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-family: "Roboto", sans-serif; }

@media (max-width: 767px) {
  body.lock {
    overflow: hidden; } }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.make-ring._active {
  opacity: 1;
  visibility: visible; }

.make-ring {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  background-color: #000;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  transition: all 0.3s ease 0s; }
  .make-ring__form-container {
    position: relative; }
  .make-ring__form span, .make-ring__form span::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 30px;
    height: 2px;
    top: 0px;
    left: 205px;
    cursor: pointer;
    transition: all 0.3s ease 0s; }
  .make-ring__form span::after {
    content: '';
    transform: rotate(90deg);
    left: 0; }
  .make-ring__form span {
    transform: rotate(-45deg); }
  .make-ring__form-input {
    margin: 15px 0px 0px 0px;
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    padding: 0px 15px; }
  .make-ring__form-button {
    margin: 15px 0px 0px 0px;
    width: 200px;
    height: 50px;
    color: #fff; }

.content {
  flex: 1 1 auto; }

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }
  @media (max-width: 1024px) {
    .container {
      max-width: 900px; } }
  @media (max-width: 992px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767px) {
    .container {
      max-width: none; } }

.button {
  display: block;
  border-radius: 4px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%); }
  .button:active {
    background-image: none;
    background-color: #c4c4c4;
    transition: 0.1s all; }

.header {
  background-color: #212121;
  position: fixed;
  width: 100%;
  z-index: 2; }
  .header__body {
    display: block;
    height: 50px;
    max-width: 1030px;
    padding: 0 15px 0 15px;
    margin: 0 auto; }
    @media (max-width: 1024px) {
      .header__body {
        max-width: 900px; } }
    @media (max-width: 992px) {
      .header__body {
        max-width: 750px; } }
    @media (max-width: 767px) {
      .header__body {
        display: flex;
        justify-content: flex-end;
        max-width: none;
        height: 50px; } }
  .header__burger.active span {
    transform: scale(0); }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px; }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px; }
  .header__burger {
    z-index: 12;
    display: none;
    position: relative;
    margin-top: 15px;
    margin-right: 5px;
    width: 30px;
    height: 20px; }
    .header__burger:before, .header__burger::after {
      content: '';
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 2px;
      transition: all 0.3s ease 0s; }
    .header__burger:before {
      top: 0px; }
    .header__burger:after {
      bottom: 0px; }
    .header__burger span {
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 2px;
      left: 0px;
      top: 9px;
      transition: all 0.3s ease 0s; }
    @media (max-width: 767px) {
      .header__burger {
        display: block; } }
  .header__menu.active {
    left: 0;
    background-color: rgba(0, 0, 0, 0.85); }
  .header__menu {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300; }
    .header__menu li {
      position: relative; }
      .header__menu li::after {
        content: '';
        position: absolute;
        top: 9px;
        display: block;
        width: 0px;
        height: 31px;
        border: #000 1px dotted;
        background-color: #fff; }
      .header__menu li:nth-child(1):after {
        left: 90px; }
      .header__menu li:nth-child(2):after {
        left: 198px; }
      .header__menu li:nth-child(3):after {
        left: 215px; }
      .header__menu li:nth-child(4):after {
        left: 115px; }
      .header__menu li:nth-child(5):after {
        left: 100px; }
      .header__menu li:nth-child(6):after {
        display: none; }
    @media (max-width: 1024px) {
      .header__menu li:nth-child(1):after {
        left: 77px; }
      .header__menu li:nth-child(2):after {
        left: 184px; }
      .header__menu li:nth-child(3):after {
        left: 199px; }
      .header__menu li:nth-child(4):after {
        left: 100px; }
      .header__menu li:nth-child(5):after {
        left: 90px; }
      .header__menu li:nth-child(6):after {
        display: none; } }
    @media (max-width: 992px) {
      .header__menu li {
        font-size: 12px; }
        .header__menu li:nth-child(1):after {
          left: 65px; }
        .header__menu li:nth-child(2):after {
          left: 150px; }
        .header__menu li:nth-child(3):after {
          left: 163px; }
        .header__menu li:nth-child(4):after {
          left: 85px; }
        .header__menu li:nth-child(5):after {
          left: 73px; }
        .header__menu li:nth-child(6):after {
          display: none; } }
    .header__menu a {
      display: block;
      padding: 17.5px 0px;
      color: #ffffff; }
    @media (max-width: 767px) {
      .header__menu {
        margin-top: 50px;
        z-index: 5;
        position: fixed;
        flex-direction: column;
        justify-content: start;
        width: 70%;
        height: 100%;
        top: 0;
        left: -100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #212121; }
        .header__menu a {
          display: block;
          font-size: 17px;
          text-align: center;
          padding: 10px;
          margin: 5px 0; }
        .header__menu li::after {
          content: '';
          display: none; } }

.submenu {
  position: absolute;
  top: 50px;
  height: 84px;
  width: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6); }
  @media (max-width: 992px) {
    .submenu {
      height: 65px; } }
  @media (max-width: 767px) {
    .submenu {
      height: 60px; } }
  .submenu__container {
    max-width: 977px;
    padding: 0 15px;
    margin: 0 auto; }
    @media (max-width: 1024px) {
      .submenu__container {
        max-width: 750px; } }
  .submenu__row {
    display: flex;
    justify-content: space-between; }
  @media (max-width: 992px) {
    .submenu__logo {
      max-width: 200px; } }
  .submenu__img {
    max-width: 285px;
    margin-top: 16px; }
    .submenu__img img {
      max-width: 100%; }
    @media (max-width: 767px) {
      .submenu__img {
        margin-top: 22px;
        max-width: 130px; } }
  .submenu__label {
    margin-top: 6px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.6; }
    @media (max-width: 992px) {
      .submenu__label {
        visibility: hidden;
        display: none; } }
  .submenu__contacts {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .submenu__contacts {
        flex-direction: column;
        align-content: flex-end;
        padding: 0 5px 0 10px; } }
  .submenu__tel {
    text-align: right;
    padding: 23px 32px 0 0; }
    @media (max-width: 992px) {
      .submenu__tel {
        padding: 15px 14px 0 0; }
        .submenu__tel .tel__label {
          visibility: hidden;
          display: none; } }
    @media (max-width: 767px) {
      .submenu__tel {
        padding: 0px 14px 0 0; }
        .submenu__tel a {
          font-size: 12px; } }
  .submenu__btn {
    margin-top: 19px;
    height: 46px;
    width: 172px;
    color: #ffffff; }
    @media (max-width: 992px) {
      .submenu__btn {
        margin-top: 8px; } }
    @media (max-width: 767px) {
      .submenu__btn {
        font-size: 10px;
        height: 22px;
        width: 110px; } }

.tel_num {
  margin-top: 8px;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase; }
  .tel_num a {
    color: #ffffff; }
  @media (max-width: 767px) {
    .tel_num {
      font-size: 10px; } }

.tel__label {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300; }

.main {
  background: url(../img/bg_logo.png) center center/cover no-repeat; }
  .main h1 {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase; }
    @media (max-width: 1024px) {
      .main h1 {
        font-size: 55px; } }
    @media (max-width: 992px) {
      .main h1 {
        font-size: 35px; } }
    @media (max-width: 767px) {
      .main h1 {
        font-size: 30px;
        line-height: 35px; } }
  .main h2 {
    margin-top: 10px;
    font-size: 36px;
    font-weight: 700; }
    @media (max-width: 1024px) {
      .main h2 {
        font-size: 26px; } }
    @media (max-width: 992px) {
      .main h2 {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .main h2 {
        margin-top: 22px;
        line-height: 24px; } }
  .main__content {
    max-width: 955px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding: 195px 0 135px 0; }
    @media (max-width: 1024px) {
      .main__content {
        max-width: 800px;
        padding: 185px 0 50px 0; } }
    @media (max-width: 992px) {
      .main__content {
        max-width: 800px;
        padding: 145px 20px 30px 20px; } }
    @media (max-width: 767px) {
      .main__content {
        padding: 157px 0px 30px 0px; } }
  .main__text {
    margin-top: 17px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
    .main__text p {
      padding-bottom: 25px; }
      .main__text p:last-child {
        padding-bottom: 0px; }
    @media (max-width: 1024px) {
      .main__text {
        font-size: 14px; } }
    @media (max-width: 992px) {
      .main__text {
        font-size: 12px; } }
    @media (max-width: 767px) {
      .main__text {
        display: none; } }
  .main__button {
    margin: 114px auto 0 auto;
    width: 259px;
    height: 63px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase; }
    @media (max-width: 1024px) {
      .main__button {
        margin: 60px auto 0 auto; } }
    @media (max-width: 992px) {
      .main__button {
        margin: 30px auto 0 auto; } }
    @media (max-width: 767px) {
      .main__button {
        margin: 69px auto 0 auto;
        width: 210px;
        height: 50px; } }

.btn-type-title {
  width: 112px;
  height: 24px;
  padding-top: 7px;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background-color: #000000; }

.title {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }
  @media (max-width: 992px) {
    .title {
      font-size: 28px; } }
  @media (max-width: 767px) {
    .title {
      font-size: 15px; } }

.subheader {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 400; }

.work__content {
  padding: 70px 0px 40px 0px;
  margin: 0 auto;
  max-width: 1062px; }
  @media (max-width: 1024px) {
    .work__content {
      padding: 40px 0px 0px 0px; } }
  @media (max-width: 992px) {
    .work__content {
      padding: 25px 0px 0px 0px; } }

.work__title {
  margin-top: 33px; }
  @media (max-width: 1024px) {
    .work__title {
      margin-top: 20px; } }

.work__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 35px;
  margin: 0px -10px 0 -10px; }
  @media (max-width: 1024px) {
    .work__row {
      padding-top: 15px; } }

.work__item {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 30px 10px;
  flex: 0 1 50%;
  max-width: 500px;
  line-height: 21px; }
  @media (max-width: 992px) {
    .work__item {
      flex-direction: column;
      justify-content: flex-start;
      padding: 0 10px 10px 10px; } }
  @media (max-width: 767px) {
    .work__item {
      flex: 0 1 100%;
      margin: 0 auto; } }
  .work__item_img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 113px;
    height: 113px;
    flex: 0 0 113px;
    border-radius: 100%;
    background-color: #1eacc7; }
    @media (max-width: 992px) {
      .work__item_img {
        margin-bottom: 5px;
        width: 100px;
        height: 100px;
        flex: 0 0 100px; } }
    .work__item_img img {
      display: block;
      max-width: 100%; }
  .work__item_body {
    padding-left: 25px; }
    @media (max-width: 992px) {
      .work__item_body {
        padding-left: 0px; } }
  .work__item_title {
    color: #1eacc7;
    font-size: 15px;
    font-weight: 400; }
  .work__item_text {
    margin-top: 0px;
    font-size: 15px;
    font-weight: 300; }

.mobile {
  background: url(../img/mobile_app_bg.png) center center/cover no-repeat; }
  .mobile__content {
    padding: 48px 0 61px 0; }
    @media (max-width: 1024px) {
      .mobile__content {
        padding: 28px 0 31px 0; } }
    @media (max-width: 992px) {
      .mobile__content {
        padding: 28px 0 10px 0; } }
    @media (max-width: 767px) {
      .mobile__content {
        padding: 8px 0 0px 0; } }
  .mobile__title {
    margin-top: 33px; }
    @media (max-width: 1024px) {
      .mobile__title {
        margin-top: 20px; } }
  .mobile__subheader {
    margin-top: 14px; }
    @media (max-width: 767px) {
      .mobile__subheader {
        font-size: 14px; } }
  .mobile__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px -7.5px 0 -7.5px; }
    @media (max-width: 992px) {
      .mobile__row {
        margin: 15px -7.5px 0 -7.5px;
        justify-content: center; } }
  .mobile__item {
    max-width: 335px;
    flex: 0 1 33.333%;
    padding: 0 7.5px 19px 7.5px; }
    @media (max-width: 992px) {
      .mobile__item {
        flex: 0 1 50%; } }
    @media (max-width: 767px) {
      .mobile__item {
        flex: 0 1 100%; } }
  .mobile__item_icon-1 {
    background: url(../img/mobile_app_img_1.jpg) center center/cover no-repeat; }
  .mobile__item_icon-2 {
    background: url(../img/mobile_app_img_2.jpg) center center/cover no-repeat; }
  .mobile__item_icon-3 {
    background: url(../img/mobile_app_img_3.jpg) center center/cover no-repeat; }
  .mobile__item_icon-4 {
    background: url(../img/mobile_app_img_4.jpg) center center/cover no-repeat; }
  .mobile__item_icon-5 {
    background: url(../img/mobile_app_img_5.jpg) center center/cover no-repeat; }
  .mobile__item_icon-6 {
    background: url(../img/mobile_app_img_6.jpg) center center/cover no-repeat; }
  .mobile .item__body {
    max-width: 320px;
    height: 280px;
    padding-top: 90px;
    position: relative; }
  .mobile .item__header {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase; }
  .mobile .item__plus {
    position: absolute;
    bottom: 35px;
    left: 50%;
    width: 26px;
    height: 26px;
    transform: translateX(-50%);
    border-radius: 100%;
    background-color: #000; }
    .mobile .item__plus::after {
      content: '';
      display: block;
      position: absolute;
      height: 14px;
      width: 2px;
      left: 50%;
      top: 6px;
      transform: translateX(-50%);
      background-color: #1ca8c3; }
    .mobile .item__plus::before {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 14px;
      left: 6px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #1ca8c3; }
    .mobile .item__plus:hover:before, .mobile .item__plus:hover:after {
      background-color: #ff5656; }

.choice {
  background: url(../img/bg_choice.png) center center/cover no-repeat; }
  .choice__content {
    padding: 57px 0 138px 0; }
    @media (max-width: 1024px) {
      .choice__content {
        padding: 37px 0 38px 0; } }
    @media (max-width: 992px) {
      .choice__content {
        padding: 17px 0 10px 0; } }
  .choice__btn-type-title {
    background-color: #fff;
    color: #000; }
  .choice__title {
    margin-top: 28px;
    color: #fff; }
    @media (max-width: 1024px) {
      .choice__title {
        margin-top: 18px; } }
  .choice__subheader {
    margin-top: 14px;
    color: #fff; }
    @media (max-width: 767px) {
      .choice__subheader {
        display: none; } }
  .choice__img {
    max-width: 759px;
    margin: 56px auto 0 auto; }
    @media (max-width: 992px) {
      .choice__img {
        margin: 16px auto 0 auto;
        max-width: 559px; } }
    .choice__img img {
      max-width: 100%; }
  .choice__label {
    text-align: center;
    max-width: 297px;
    margin: 0 auto;
    color: #222222;
    font-size: 17px;
    font-weight: 300; }

.require__content {
  padding: 68px 0 0px 0;
  margin: 0 auto;
  max-width: 1060px; }
  @media (max-width: 1024px) {
    .require__content {
      padding: 30px 0 34px 0; } }
  @media (max-width: 992px) {
    .require__content {
      padding: 15px 0 10px 0; } }
  @media (max-width: 767px) {
    .require__content {
      padding: 8px 0 25px 0; } }

.require__title {
  margin-top: 28px; }
  @media (max-width: 992px) {
    .require__title {
      margin-top: 10px; } }
  @media (max-width: 767px) {
    .require__title {
      margin-top: 15px; } }

.require__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 33px -10px 0 -10px; }
  @media (max-width: 992px) {
    .require__row {
      margin: 13px -10px 0 -10px; } }
  @media (max-width: 767px) {
    .require__row {
      margin: 0px 0px 0 0px; } }

.require__item {
  max-width: 498px;
  padding: 0 10px 68px 10px;
  flex: 0 1 50%; }
  @media (max-width: 767px) {
    .require__item {
      padding: 0px;
      flex: 0 1 100%;
      margin: 0 auto; } }

.require .warning .require__item-title {
  color: #ff5656; }

.require .warning .require__list ul li:before {
  background: url(../img/icons/check_icon_red.png); }

.require__item-title {
  font-size: 22px;
  color: #1ca8c3;
  font-weight: 400;
  margin-bottom: 15px; }
  @media (max-width: 767px) {
    .require__item-title {
      margin: 25px 0px 12px 0;
      font-size: 16px; } }

.require__list {
  font-size: 17px;
  font-weight: 300;
  padding-left: 20px; }
  .require__list ul li {
    position: relative;
    padding: 0 0 10px 30px;
    line-height: 23px; }
    @media (max-width: 767px) {
      .require__list ul li {
        font-size: 14px;
        padding: 0 0 13px 30px;
        letter-spacing: 0.2px; } }
    .require__list ul li:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      display: block;
      width: 21px;
      height: 20px;
      background: url(../img/icons/check_icon_blue.png); }

.require__label {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 300;
  color: #1ca8c3; }
  @media (max-width: 767px) {
    .require__label {
      margin-top: 0px;
      padding-bottom: 10px;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.2px; } }

.world {
  min-height: 717px;
  margin-top: -20px;
  background: url(../img/bg_world.jpg) center center/cover no-repeat; }
  @media (max-width: 992px) {
    .world {
      min-height: 517px; } }
  @media (max-width: 767px) {
    .world {
      min-height: 360px;
      margin-top: 0; } }
  .world__content {
    padding: 50px 0; }
    @media (max-width: 1024px) {
      .world__content {
        padding: 30px 0 34px 0; } }
    @media (max-width: 767px) {
      .world__content {
        padding: 24px 0 34px 0; } }
  .world__btn-type-title {
    background-color: #fff;
    color: #000; }
    @media (max-width: 767px) {
      .world__btn-type-title {
        width: 76px;
        height: 24px;
        font-size: 11px; } }
  .world__title {
    color: #fff;
    margin-top: 28px; }
    @media (max-width: 767px) {
      .world__title {
        font-size: 16px;
        margin-top: 16px; } }
  .world__subheader {
    margin-top: 15px;
    color: #fff; }
    @media (max-width: 767px) {
      .world__subheader {
        font-size: 14px;
        margin-top: 7px; } }
  .world__link {
    position: relative;
    top: 480px;
    display: block;
    text-align: center;
    color: #1fbad6;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase; }
    @media (max-width: 992px) {
      .world__link {
        top: 330px; } }
    @media (max-width: 767px) {
      .world__link {
        top: 216px; } }

.footer {
  position: relative; }
  .footer::before {
    content: '';
    position: absolute;
    width: 253px;
    height: 4px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1fbad6; }
  .footer__row {
    max-width: 1904px;
    margin: 0 auto;
    padding: 50px 23px 30px 23px; }
    @media (max-width: 992px) {
      .footer__row {
        padding: 50px 23px 20px 23px; } }
    @media (max-width: 767px) {
      .footer__row {
        padding: 50px 18px 20px 18px; } }
  .footer__navigator {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .footer__navigator {
        flex-direction: column; } }
  .footer__icons {
    display: flex;
    justify-content: flex-start;
    width: 33.333%; }
    .footer__icons a {
      margin-right: 8px; }
    @media (max-width: 1024px) {
      .footer__icons {
        width: 20%; }
        .footer__icons a {
          margin-right: 3px; } }
    @media (max-width: 992px) {
      .footer__icons {
        width: 23%; } }
    @media (max-width: 767px) {
      .footer__icons {
        order: 2;
        max-width: 100%;
        margin: 0 auto;
        justify-content: center; }
        .footer__icons a {
          margin: 20px 4.5px 0 4.5px; } }
  .footer__links {
    flex: 0 1 390px;
    width: 33.333%; }
    @media (max-width: 767px) {
      .footer__links {
        order: 1;
        flex: 0 0 auto;
        width: 100%; } }
  .footer__download {
    display: flex;
    justify-content: flex-end;
    width: 33.333%; }
    .footer__download a {
      margin-left: 8px; }
    @media (max-width: 992px) {
      .footer__download {
        width: 30%;
        margin-left: 3px; } }
    @media (max-width: 767px) {
      .footer__download {
        order: 3;
        margin: 19px auto 0 auto;
        justify-content: center;
        width: 100%; } }
  .footer__main-list {
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 10px;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase; }
    .footer__main-list a {
      color: #000000; }
    @media (max-width: 992px) {
      .footer__main-list a {
        font-size: 12px;
        padding: 0 5px 0 5px; } }
    @media (max-width: 767px) {
      .footer__main-list {
        padding: 0 0px 0 0px;
        max-width: 284px;
        margin: 0 auto; }
        .footer__main-list a {
          font-size: 14px;
          padding: 0 0px 0 0px; } }
  .footer__sublist {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase; }
    .footer__sublist a {
      color: #999999; }
    @media (max-width: 992px) {
      .footer__sublist a {
        font-size: 11px; } }

@media (max-width: 992px) and (max-width: 767px) {
  .footer__sublist {
    min-height: 45px;
    flex-wrap: wrap;
    max-width: 245px;
    margin: 10px auto 0 auto; } }
  .footer__lang-link {
    align-self: center;
    margin-top: 19px;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase; }
    .footer__lang-link a {
      color: #1fbad6; }
    @media (max-width: 767px) {
      .footer__lang-link {
        margin-top: 0px; } }
  .footer .icons__facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    flex: 0 0 32px;
    border-radius: 100%;
    background-color: #000; }
    .footer .icons__facebook img {
      max-width: 100%; }
  .footer .icons__twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    flex: 0 0 32px;
    border-radius: 100%;
    background-color: #000; }
    .footer .icons__twitter img {
      max-width: 100%; }
  .footer .icons__linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    flex: 0 0 32px;
    border-radius: 100%;
    background-color: #000; }
    .footer .icons__linkedin img {
      max-width: 100%; }
  .footer .icons__instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    flex: 0 0 32px;
    border-radius: 100%;
    background-color: #000; }
    .footer .icons__instagram img {
      max-width: 100%; }
  .footer .download__apple {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 94px;
    border-radius: 3px; }
    .footer .download__apple img {
      max-width: 100%; }
  .footer .download__google {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 94px; }
    .footer .download__google img {
      max-width: 100%; }
  .footer .download__windows {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 94px; }
    .footer .download__windows img {
      max-width: 100%; }
